body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}
h3 {
  text-align: center;
}
.box {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 10px;
  flex-direction: row;
}
footer {
  text-align: center;
  background-color: black;
}

.pad {
  padding-left: 10%;
}
#stats {
  margin: 90px 155px 50px 122px;
}
.white {
  color: beige;
}
#social-media-stats {
  padding: 20px;
  width: 100%;
  border-radius: 12px;
  background-color: white;
  box-shadow: rgba(32, 33, 34, 0.2) 0px 8px 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
#social-media-stats > div > h1 {
  font-size: 40px;
  padding: 10px 0px;
}
#social-media-stats > div > p {
  font-size: 17px;
  text-align: center;
}
.card {
  width: 250px;

  text-allign: center;
  margin-top: 30px;
  box-shadow: black 0px 8px 24px;
  border: 1px solid grey;
}
.card > img {
  width: 100%;
}
.text {
  padding: 10px;
  background-color: #fff;
}
.orange-color {
  color: rgb(253, 97, 6);
}
h1 {
  font-size: 60px;
}
.beshi {
  font-size: 55px;
}
.flexible-container {
  display: flex;
  margin-bottom: 150px;
}
.about-us {
  background-image: url(images/shapes/7.png);
  background-repeat: no-repeat;
}
#rec {
  width: 80%;
}
#rac {
  width: 50%;
}
.bigger {
  font-size: 20px;
}

.half-width {
  width: 80%;
  padding-left: 5%;
}
.half-width img {
  width: 50%;
}
.link-button {
  background-image: linear-gradient(to right, tomato, red);
  font-weight: 700;
  font-size: 30px;
  font-weight: 700;
  border-radius: 15px;
  text-decoration: none;
  padding: 15px 30px;
  color: white;
}
.top-banner {
  background-image: url(images/shapes/57.jpg);
  background-repeat: no-repeat;
}
#backg {
  background-image: url(images/shapes/2.jpg);
  background-repeat: no-repeat;
}
.text-center {
  text-align: center;
}
.kom {
  font-size: 40px;
}
.navbar {
  position: fixed;
  height: 80px;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
}
.navbar .logo {
  width: 140px;
  height: auto;
  padding: 20px 100px;
}
.navbar ul {
  float: right;
  margin-right: 20px;
}
.navbar ul li {
  list-style: none;
  margin: 0 8px;
  display: inline-block;
  line-height: 80px;
}
.navbar ul li a {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  color: white;
  padding: 6px 13px;
  text-decoration: none;
  transition: 0.4s;
}
.navbar ul li a.active,
.navbar ul li a:hover {
  background: red;
  border-radius: 2px;
}
